




<%# <div class="archive-image"> %>
  <%# <%= image_tag archive.image if archive.image.attached? %>
  <%# </div> %>
<div class="archive-image-box">

  <div class="archive-image">
    <%= image_tag(archive.image, data: { fullsize: url_for(archive.image) }) if archive.image.attached? %>
  </div>

  <div>
    <div class="archive-edit-button">
      <%= link_to 'Show', edit_room_archive_path(@room, archive) %>
    </div>

    <div class="archive-delete-button">
      <%= link_to 'Delete', room_archive_path(@room, archive), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>

<div id="preview-pane" style="display: none;">
  <img src="" alt="Preview Image">
</div>
