



.anime {
  margin-left: 2%;
  font-size: 200%;
  animation-duration: 2s;
  animation-name: slidein;
  color: black;
}

@keyframes slidein {
  from {
    color: transparent;
    margin-left: 70%;
  }
  to {
    margin-left: 2%;
    color: black;
  }
}



.room{
  display: flex;
  justify-content: space-around;
  padding: 1%;
  overflow: scroll;
}



/* ----------------チャットブロック------------------- */


.message-big-box{
  overflow-y: scroll;
  height: 60vh;
  width:930px;
}



.message-box{
  display:flex;
  justify-content: center;
  border:solid 1px orange;
}

.message-name-box{
  display:flex;
  justify-content: center;
  height:100px;
}


.current-user-box{
  width: 300px;
  border:solid 1px black;
}

.user1-box{
  width: 300px;
  border:solid 1px blue;
}

.user2-box{
  width: 300px;
  border:solid 1px green;
}


.image0{
  display: flex;
  justify-content: center;
  width: 150px;
  object-fit: contain;
}

.image0:hover img{
  border:double 3px lightblue;
  transform-origin: left center;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.image1{
  width: 150px;
  object-fit: contain;
}

.image1:hover img{
  border:double 3px lightblue;
  transform-origin: center center;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.image2{
  width: 150px;
  object-fit: contain;
}
.image2:hover img{
  border:double 3px lightblue;
  transform-origin: center right;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.archive-capture{
  display: block;
  width: 300px;
}

.capture-button {
  width:60px;
  background-color: white;
  color:black;
  transition: color 0.5s, background-color 0.5s;
}

.capture-button:hover {
  background-color: lightgreen;
  color:white;
}



/* ----------------アーカイブブロック------------------- */


.archive{
  overflow: visible;
  height: 80vh;
  width: 200px;
  border:solid 1px green;
  /* position: relative; */
}

.archive-small{
  overflow-y: scroll;
  height: 80vh;
  width: 200px;
  border:solid 1px green;
}


.archive-small:hover {
  overflow: visible;
  /* position: absolute; */
  bottom: 250px;
}

.archive-image {
  width: 200px;
  border: solid 1px blue;
  position: relative; /* 相対位置を設定 */
}

.archive-image img {
  transition: transform 0.5s ease; /* スムーズなアニメーション効果 */
  width: 100%; /* 画像がコンテナに合わせて調整 */
  position: relative; /* 位置調整の基準点 */
  right: 50; /* 初期位置 */
}

.archive-image:hover img {
  box-shadow: 10px 5px 5px darkslategray;
  transform: scale(2) translateX(-100%) translatey(-20%); /* 画像を1.5倍に拡大し、X軸方向に左に50%移動 */
  transform-origin: center left; /* 拡大の原点を左側中央に設定 */
}