



.anime {
  margin-left: 2%;
  font-size: 200%;
  animation-duration: 2s;
  animation-name: slidein;
  color: black;
}

@keyframes slidein {
  from {
    color: transparent;
    margin-left: 70%;
  }
  to {
    margin-left: 2%;
    color: black;
  }
}



.room{
  display: flex;
  justify-content: space-around;
}



/* ----------------チャットブロック------------------- */


.message-big-box{
  overflow-y: scroll;
  height: 60vh;
  width:930px;
}



.message-box{
  display:flex;
  justify-content: center;
  border:solid 1px orange;
}

.message-name-box{
  display:flex;
  justify-content: center;
  height:100px;
}


.current-user-box{
  width: 300px;
  border:solid 1px black;
}

.user1-box{
  width: 300px;
  border:solid 1px blue;
}

.user2-box{
  width: 300px;
  border:solid 1px green;
}


.image0{
  display: flex;
  justify-content: center;
  width: 150px;
  object-fit: contain;
}

.image0:hover img{
  border:double 3px lightblue;
  transform-origin: left center;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.image1{
  width: 150px;
  object-fit: contain;
}

.image1:hover img{
  border:double 3px lightblue;
  transform-origin: center center;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.image2{
  width: 150px;
  object-fit: contain;
}
.image2:hover img{
  border:double 3px lightblue;
  transform-origin: center right;
  transform: scale(2.5); /* 画像を2.5倍に拡大 */
}

.archive-capture{
  display: block;
  width: 300px;
}

.capture-button {
  width:60px;
  background-color: white;
  color:black;
  transition: color 0.5s, background-color 0.5s;
}

.capture-button:hover {
  background-color: lightgreen;
  color:white;
}



/* ----------------アーカイブブロック------------------- */


.archive{
  height: 90vh;
  width: 200px;
  border:solid 1px green;
}


.archive-image{
  height:50px;
  width:50px;
  border:solid 1px blue;
}
